{% raw %}{% load cache static i18n account pages_tags %}
<nav class="navbar navbar-expand-md navbar-light bg-light mb-2">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                {% comment %}<a class="nav-link" href="{% show_absolute_url 'carnet' %}">pages<span class="visually-hidden">(current)</span></a>{% endcomment %}
                <a class="nav-link" href="{% url 'about' %}">pages<span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
            </ul>
          </div>
          <!-- account bar -->
          <div class="dropdown text-end">
            {% include "pages/_base/_account_bar.html" %}
          </div>
          <!-- fin account bar -->

        </div>
</nav>
{% endraw %}