{% raw %}{% extends base_extends %}
{% comment %} template permettant de poller le resultat d'un task celery via appel htmx {% endcomment %}
{% comment %} on variablise le template à étendre (base ou partiel) {% endcomment %}
{% comment %} pour n'envoyer que le nécessaire en htmx et pas TOUTE la page (perf) {% endcomment %}

{% block content %}

<h3>Mon titre</h3>

{% if base_extends == "base.html" %}
{% comment %} dans le cas par défaut (base.html) on renvoie l'instruction de polling (load delay:1s) {% endcomment %}
{% comment %} https://htmx.org/docs/#load_polling {% endcomment %}
<div hx-get="{% url 'dois-list-task-result' dois_list_task_id %}"
        hx-trigger="load delay:1s"
        hx-indicator="#spinner"
        {% comment %} hx-select="#list-dois" {% endcomment %}
        hx-swap="outerHTML"
>
{% comment %} spinner d'attente {% endcomment %}
{# djlint:off #}
<svg class="htmx-indicator" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
  <g>
    <circle cx="60" cy="50" r="4" fill="#ec1c24">
      <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.67s"></animate>
      <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s"></animate>
    </circle>
    <circle cx="60" cy="50" r="4" fill="#ec1c24">
      <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="-0.33s"></animate>
      <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s"></animate>
    </circle>
    <circle cx="60" cy="50" r="4" fill="#ec1c24">
      <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35" keyTimes="0;1" begin="0s"></animate>
      <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s" values="0;1;1" keyTimes="0;0.2;1" begin="0s"></animate>
    </circle>
  </g><g transform="translate(-15 0)">
    <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#fdbd10" transform="rotate(90 50 50)"></path>
    <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#fdbd10">
      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
    </path>
    <path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#fdbd10">
      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1"></animateTransform>
    </path>
  </g>
</svg>
{# djlint:on #}
</div>
{% endif %}

{% comment %} on execute cette partie que lors de l'appel htmx (ie template de base n'est pas 'base.html'){% endcomment %}
{% if base_extends != "base.html" %}
{% if celery_task_result.status == "FAILURE" %}
{% comment %} en cas d'erreur de la task on envoie un erreur en OOB dans la div réservée aux messages {% endcomment %}
<div class="container"  id="msg-framework" hx-swap-oob="true">
  <div class="alert alert-dismissible alert-error">
    <p>Erreur lors de la récupération des DOIs</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% elif celery_task_result.status == "SUCCESS" %}
{% comment %} en cas de succès on envoie ce qu'il faut ! {% endcomment %}
<div class="list-group" id="list-dois">
    {% for i in celery_task_result.result %}
    <a href="{{i.attributes.url}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><mark>{{ i.attributes.doi }}</mark> | {% for t in i.attributes.titles %}{{t.title}} {% endfor %}</h5>
        <div>
        <small class="badge bg-info rounded-pill">{{l}}</small>
        </div>
      </div>
      <p class="mb-1">{% for t in i.attributes.descriptions %}{{t.description}} {% endfor %}</p>
      <p class="mb-1">{% for t in i.attributes.creators %}{% if forloop.last %}{{t.name}}{% else %}{{t.name}} - {% endif %}{% endfor %}</p>
      <small>redirection: {{i.attributes.url}}</small>
    </a>
    {% endfor %}
</div>
{% else %}
{% comment %} on continue le polling si tache non terminée en succ ou en fail (PENDING la plupart du temps){% endcomment %}
<div hx-get="{% url 'dois-list-task-result' celery_task_result.task_id %}"
        hx-trigger="load delay:1s"
        hx-indicator="#spinner"
        {% comment %} hx-select="#list-dois" {% endcomment %}
        hx-swap="outerHTML"
>
<img id="spinner" alt="spinner" class="htmx-indicator" src="https://training.pndb.fr/static/images/interface/pacman.png"/>
</div>
{% endif %}
{% endif %}

{% endblock content %}
{% endraw %}
