{% raw %}{% load metacat_tags %}
{% spaceless %}
{% if celery_task_result.status == "FAILURE" %}
<div class="container"  id="msg-framework" hx-swap-oob="true">
  <div class="alert alert-dismissible alert-error">
    <p>Erreur lors de la suppression du DataPackage sur Member Node</p>
    <p>{{ celery_task_result.result }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% elif celery_task_result.status == "SUCCESS" %}
<div class="container"  id="msg-framework" hx-swap-oob="true">
  <div class="alert alert-dismissible alert-success">
Le DataPackage {{ celery_task_result.result.0 }} a été <b>supprimé</b>, avec les datafiles suivants:
<ul>
  {% for d in celery_task_result.result.2 %}
  <li>{{ d }}</li>
  {% endfor %}
</ul>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{% else %}
{% comment %} on continue le polling si tache non terminée succ ou fail {% endcomment %}
<div class="container"  id="msg-framework" hx-swap-oob="true">
  <div class="alert alert-dismissible alert-warning">
<div hx-get="{% url 'metacat:data-package-delete-task-result' celery_task_result.task_id %}"
        hx-trigger="load delay:1s"
        hx-indicator="#spinner"
        hx-swap="outerHTML"
>
Tâche de suppression<em>{{ celery_task_result.task_id }}</em> en cours ...
</div>
<div class="pacman-moving">{% include "htmx/waiting_spinner.html" %}</div>
</div>
</div>
{% endif %}
{% endspaceless %}
{% endraw %}
