{% raw %}{% load cookie_consent_tags %}

<div id="cookiebar">
  {% if request|cookie_consent_enabled %}
    {% not_accepted_or_declined_cookie_groups request as cookie_groups %}
    {% if cookie_groups %}
      {% url "cookie_consent_cookie_group_list" as url_cookies %}
      <div class="cookie-bar">
        Ce site utilise des cookies
        (
        {% for cg in cookie_groups %}
          {{ cg.varname }}
          {% if not forloop.last %},{% endif %}
        {% endfor %}
        ).
        <form class="d-inline"
              hx-post="{% url 'cookie_consent_accept' %}"
              hx-target="#cookiebar"
              hx-swap="outerHTML"
              hx-select="#cookiebar"
              hx-on::before-request="document.body.classList.remove('with-cookie-bar')"
              hx-on::response-error="document.body.classList.add('with-cookie-bar')"
              hx-on::send-error="document.body.classList.add('with-cookie-bar')"
              method="post">
          {% csrf_token %}
          {% for cg in cookie_groups %}<input type="hidden" name="cookie_groups" value="{{ cg.varname }}" />{% endfor %}
          <input type="hidden" name="next" value="{{ request.path }}" />
          <button type="submit" class="cc-cookie-accept btn btn-success btn-sm">Accepter</button>
        </form>
        <form class="d-inline"
              hx-post="{% url 'cookie_consent_decline' %}"
              hx-target="#cookiebar"
              hx-swap="outerHTML"
              hx-select="#cookiebar"
              hx-on::before-request="document.body.classList.remove('with-cookie-bar')"
              hx-on::response-error="document.body.classList.add('with-cookie-bar')"
              hx-on::send-error="document.body.classList.add('with-cookie-bar')"
              method="post">
          {% csrf_token %}
          {% for cg in cookie_groups %}<input type="hidden" name="cookie_groups" value="{{ cg.varname }}" />{% endfor %}
          <input type="hidden" name="next" value="{{ request.path }}" />
          <button type="submit" class="cc-cookie-decline btn btn-secondary btn-sm">Refuser</button>
        </form>
        <a href="{{ url_cookies }}" class="btn btn-warning btn-sm">Paramétrer les cookies</a>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endraw %}